/* RESET CSS */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Mukta&display=swap');
/*font-family: 'Akshar', sans-serif;
font-family: 'Mukta', sans-serif;*/

/* MAIN STYLES */

:root {
    --background-color: #2c2e31;
    --primary-color: #151618;
    --secondary-color: rgb(218, 228, 252);
    --highlight-primary-color: #2c2e31;
    --highlight-secondary-color: #4a4d52;
    --data-text-color: #0a0a0a;
    --data-text-color-secondary: rgb(224, 224, 224);
    --alarm: #942424;
    --alarm-highlight: #bb2e2e;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/background2.jpg);
    background-color: var(--background-color);
}

#container {
    width: 70%;
    max-width: 525px;
    padding: 30px;
    margin: 40px auto;
    color: #FFF;
    background-color: var(--primary-color);
    font-family: 'Mukta', sans-serif;
    border-radius: 12px;
}

#header {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

#header h4 {
    font-size: 1.8em;
}

#header h5 {
    font-size: .9em;
    font-weight: 100;
}

#add-item {
    display: flex;
    margin: 20px auto;
    width: 100%;
    justify-content: space-between;
}

#item-input {
    color: var(--data-text-color);
    width: 88%;
    height: 40px;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-color);    
    box-shadow: none;
    border: none;
}

input:focus {
    outline: none;
}

#addBtn {
    color: #FFF;
    font-weight: 600;
    width: 10%;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-color: var(--highlight-primary-color);
    transition: 0.2s ease-in-out;
}

#addBtn:hover {
    background-color: var(--highlight-secondary-color);
    cursor: pointer;
}

#addBtn:hover .icofont-ui-add {
    font-size: 0.7em;
}

.icofont-ui-add {
    font-size: 0.6em;
    transition: 0.1s ease-in-out;
}

#todo-items {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.item {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-text {
    font-weight: 600;
    word-wrap: break-word;
    font-size: 1.2em;
    width: 88%;
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--data-text-color);
    margin: 5px 0;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: var(--secondary-color);
    text-align: justify;
}

.item-done {
    text-decoration: line-through;
    color: var(--data-text-color) !important;
}

.btn-done {
    color: #FFF;
    font-weight: 600;
    width: 10%;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-color: var(--highlight-primary-color);
    transition: 0.2s ease-in-out;
}

.btn-done:hover {
    background-color: var(--highlight-secondary-color);
    cursor: pointer;
}

.btn-done:hover .icofont-verification-check {
    font-size: 1em;
}

.icofont-verification-check {
    font-size: 0.8em;
    transition: 0.1s ease-in-out;
}

#clearAll {
    width: 10%;
    height: 40px;
    color: var(--data-text-color-secondary);
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-color: var(--alarm);
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}

#clearAll:hover {
    background-color: var(--alarm-highlight);
    cursor: pointer;
}

#clearAll:hover .icofont-ui-delete {
    font-size: 1.1em;
}

.icofont-ui-delete {
    transition: 0.1s ease-in-out;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

::placeholder {
    color: var(--highlight-primary-color);
}

@media (max-width: 900px) {
    #container {
        width: 90%;
    }
}

@media (max-width: 520px) {

    #header {
        display: flex;
        flex-wrap: wrap;
    }

    #add-item {
        flex-wrap: wrap;
    }

    #item-input {
        width: 100%;
    }

    #addBtn {
        width: 100%;
        margin: 10px 0;
    }

    #clearAll {
        width: 100%;
        margin: 10px 0;
    }

    #todo-items {
        margin-top: 30px;
    }
}